body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 261px;
}

.nav-list a {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-studio {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio:hover:after,
.nav-studio:focus:after,
.nav-studio.current::after {
  opacity: 1;
}

.contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.nav-studio:hover,
.nav-studio:focus,
.contact:hover,
.contact:focus,
.nav-studio.current {
  color: #404bbf;
}

.address {
  margin-left: auto;
}

.contact-mail {
  padding: 24px 0;
  display: block;
}

.contact-tel {
  padding: 24px 0;
  display: block;
}

.contact-list {
  margin-right: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list:hover,
.contact-list:focus {
  color: #404bbf;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-one {
  background: #2e2f42;
  height: 600px;
  display: flex;
  align-items: center;
  padding: 188px 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title-one {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 496px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #404bbf;
}

.features {
  width: calc((100% - 72px) / 4);
}

.features-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.features-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-three {
  background: #f4f4fd;
  padding: 120px 0;
}

.features-box {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-li {
  width: 264px;
  height: 428px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-position {
  width: 264px;
  height: 260px;
}

.info-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 8px;
}

.team-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon {
  display: block;
  fill: #f4f4fd;
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.service-project {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-service {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-project {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item {
  position: relative;
  list-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.overlay p {
  color: #fff;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

li.portfolio-item {
  width: 360px;
  height: 420px;
}

.overlay-box {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay .overlay-box {
  transform: translateY(0%);
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-call {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

footer > .container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-cocial {
  display: block;
}

.footer-flex {
  display: flex;
  width: 1128px;
  margin: 0 auto;
  align-items: baseline;
}

.footer-social {
  color: #f4f4fd;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

:root {
  --footer-icon-fill-color: #f4f4fd;
}

.footer-icon {
  display: block;
  fill: var(--footer-icon-fill-color);
}

.footer-container {
  display: block;
  margin-right: 120px;
}

.footer-team-icon {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --footer-icon-bg-color: #4d5ae5;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--footer-icon-bg-color);
  border-radius: 50%;
  gap: 16px;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

:root {
  --footer-text-color: #ffffff;
}

.footer-social {
  color: var(--footer-text-color);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
